/*https://colorpalettes.net/color-palette-1978/*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

:root {
    --black: #1c1e26;
    --dark-orange: #d1a701;
    --yellow: #fdeb37;
    --gray: #bdac9c;
    --brown: #9d815b;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    background: radial-gradient(hsla(29, 20%, 89%, 0.5), 90%, hsla(35, 21%, 49%, 0.9)), linear-gradient(hsla(29, 20%, 89%, 0.9), 20%, hsla(35, 21%, 49%, 0.8));
    color: var(--black);    
}

.container {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
}

nav {
    padding: 32px;
    background-color: var(--dark-orange);
    border-bottom: 8px solid var(--black);
}

#nav-links {
    display: flex;
    justify-content: center;
    gap: 64px;
}

a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

#nav-links a {
    font-size: 24px;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(hsla(55, 98%, 60%, 1), 80%, hsla(48, 99%, 41%, 0.6)), linear-gradient(45deg, hsla(55, 98%, 50%, 1), 20%, hsla(55, 98%, 80%, 0.6));
    box-shadow: 4px 4px 8px var(--dark-orange);
    padding: 24px;
}

#welcome-content {
    aspect-ratio: 3/2;
}

.text-box {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    padding: 16px;
    background-color: white;
    box-shadow: inset 0px 0px 8px var(--brown);
}

#welcome-text {
    aspect-ratio: 3/2;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.text-box a {
    font-size: 32px;
    margin-top: 32px;
    color: var(--black);
}

#start {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

#arrow {
    transform: translateX(-8px);
    transition: 500ms ease-in;
    opacity: 0;
}

#start:hover #arrow {
    transform: translateX(0px);
    opacity: 1;
}

/*Background*/

#back-content-1 {
    margin-left: 5%;
    width: 60%;
}

/*Proposal*/

#main-proposal {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
}

#proposal-content {
    height: 100%;
}

#button-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    background-color: var(--yellow);
    color: var(--black);
    outline: none;
    border: 6px outset var(--yellow);
    font-weight: 600;
    font-size: 24px;
    padding: 0 24px;
    cursor: pointer;
    transition: 500ms ease-in;
}

#yes:hover {
    background-color: hsl(55, 98%, 80%);
    border: 6px outset hsl(55, 98%, 80%);
}

#no:hover {
    background-color: var(--dark-orange);
    border: 6px outset var(--dark-orange);
}

#proposal-img {
    width: 540px;
}

#yes-content {
    width: 60%;
    align-self: center;
}

@media (max-width: 2560px){
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px){
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px){
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px){
    .container {
        max-width: 425px;
    }
}

@media (max-width: 425px){
    .container {
        max-width: 375px;
    }
}

@media (max-width: 375px){
    .container {
        width: 100%;
    }
}

@media (max-width: 320px){
    .container {
        max-width: 320px;
    }
}